/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* styles.css */

/* Reset default margin and padding */
body, h1, p {
    text-align: center;
    margin: 0;
    padding: 0;
}

body {
    background-color: #6d7f6d;
    font-family: Arial, sans-serif;
}

/* Navbar styling */
.navbar {
    text-align: center;
    background-color: #535e53;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

section {
    padding: 40px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 16px;
    font-weight: bold;
}

/* Style paragraphs */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Add a border to images in the portfolio section */
.portfolio-img {
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 50%;
}

/* Footer styling */
footer {
    background-color: #535e53;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}
